/* You can add global styles to this file, and also import other style files */

:root {
  --color-green-tea: #aacc96;
  --color-forest: #25533f;
  --color-peachy: #f4beae;
  --color-blueberry: #52a5ce;
  --color-bubblegum: #ff7bac;
  --color-brown-coffee: #876029;
  --color-grape: #6d1f42;
  --color-lilac: #d3b6d3;
  --color-yellow-butter: #efce7b;
  --color-blue-ice: #b8cee8;
  --color-orange-juice: #ef6f3c;
  --color-green-olive: #afab23;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-black);
  background-color: var(--color-baby-pink);
  margin: 0;
  padding: 0;
}

p {
  font-size: 25px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
